header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdfdfd;
  box-shadow: 0px 5px 5px rgba(204, 204, 204, 0.846);

  padding-bottom: 10px;
}
.iv-bar-logo {
  /* width: 100px; */
  width: 200px; /* width of container */
  height: 100px; /* height of container */
  object-fit: cover;
  float: left;
}
.iv-link {
  display: inline;
  margin: 10px 0px 0px 10px;
}
.search {
  width: 30vw;
  padding: 12px;
  border: 1px solid rgb(40, 40, 40);
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 15px;
  margin: 12px 0 0 12px;
  display: inline;
  margin-right: 10px;
  height: 43px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.center-header-items {
  float: center;
  text-align: center;
}

.btn-ask-question {
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  padding: 5px 15px;
  margin-right: 10px;
}

.btn-ask-question:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 30px, rgba(0, 0, 0, 0.05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.btn-ask-question:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px 0, rgba(0, 0, 0, 0.1) 0 0 10px 0,
    rgba(0, 0, 0, 0.1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: 0.35s;
}

@media only screen and (max-width: 600px) {
  header {
    display: block;
    text-align: center;
    box-shadow: none;
    background-color: #f5f9fc;
  }

  .btn-ask-question {
    margin-left: 5px;
  }
  .iv-bar-logo {
    margin-left: 30px;
    margin-top: 10px;
  }
}
