.login-form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 25vh;
}

.login-input {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(40, 40, 40);
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 15px;
}

.login-container {
  margin: auto;
  width: 60%;
}

.label-title {
  display: block;
  font-size: 15px;
  text-align: left;
}

.btn-login {
  background-color: #c2c2c2;
  border: none;
  padding: 9px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.iv-overflow-title {
  text-align: center;
}
.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iv-logo {
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .login-form {
    margin-top: 20vh;
  }
  .btn-login {
    width: 100%;
  }
}
