.main {
  max-width: 600px;
  margin: 0 auto;
}
.quest-title {
  margin: 0;
  margin-top: 20px;
}

.divider {
  border-top: 1px solid rgb(0, 0, 0);
}

.quest-details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
}

.quest-content {
  display: flex;
  gap: 20px;
}

.input-answer {
  width: 100%;
  resize: none;
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(40, 40, 40);
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 15px;
  height: 100px;
}

.btn-answer {
  display: flex;
  margin-left: auto;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  padding: 9px 40px;
  text-align: center;
  cursor: pointer;

  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
}

.btn-answer:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn-answer:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.answer-box {
  margin: 15px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 6px 1px #e1e5e8;
  border: 1px solid #fff;
}
.created {
  display: inline-block;
  vertical-align: middle;
  margin-left: 70%;
  text-overflow: ellipsis;
}
.question-created {
  display: inline-block;
  vertical-align: middle;
}

.arrow-down {
  transform: rotate(180deg);
  cursor: pointer;
}
.arrow-up {
  cursor: pointer;
}

.answer-score {
  font-size: 25px;
}
.answer {
  margin-left: 20px;
}
